<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <qFlow.Properties.Settings>
            <setting name="startImageHoldTime" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="startPtxPath" serializeAs="String">
                <value>C:\ZJQ\qFlow\Template\Kanbans\</value>
            </setting>
            <setting name="startPtxName" serializeAs="String">
                <value>Operator_Kanban.ptx</value>
            </setting>
            <setting name="Role" serializeAs="String">
                <value>Operator</value>
            </setting>
        </qFlow.Properties.Settings>
    </userSettings>
</configuration>